@inherits LayoutComponentBase

<div class="page">
    <header class="bg-gray-900 border-b border-gray-800 py-2 px-4 flex justify-center items-center">
        <h1 class="text-xl font-bold text-yellow-400">TEAM PERFORMANCE ARENA</h1>
    </header>
    <main class="flex-grow">
        @Body
    </main>
</div>